<div class="top-nav">
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="title-bar-left">
      <a href="https://membean.com">
        <img src="assets/img/membean-logo.svg" alt="Membean Logo" width="89" height="26" />
      </a>
    </div>
    <!--
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    </div>
    -->
  </div>

  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left hide-for-small-only">
      <a href="/">
        <img src="assets/img/membean-logo.svg" alt="Membean Logo" width="89" height="26" />
      </a>
    </div>
    <!--
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-alignment="left">
        <li{{#ifpage 'index'}} class="active"{{/ifpage}}>
          <a href="/">Home</a>
        </li>
        <li{{#ifpage 'contact'}} class="active"{{/ifpage}}>
          <a href="/contact.html">Contact</a>
        </li>
      </ul>
    </div>
    -->
  </div>
</div>
